<div class="header">
  <img src="../../../../assets/images/cloudExchange.png" class="logo" />



  <div class="header-menu">
    <div
      class="header-menu-item"
      [ngClass]="{ loading: isLoading }"
      (click)="displayPreGames()"
    >
      <div
        class="header-menu-item-text"
        [ngClass]="{ active: viewType == 'pre' }"
      >
        Pre-games
      </div>
    </div>
    <div
      class="header-menu-item"
      [ngClass]="{ loading: isLoading }"
      (click)="displayLiveGames()"
    >
      <div
        class="header-menu-item-text"
        [ngClass]="{ active: viewType == 'live' }"
      >
        In-play
      </div>
    </div>
    <div class="header-menu-item" [ngClass]="{ loading: isLoading }">
      <div class="header-menu-item-text">Other</div>
    </div>
  </div>

  <div class="login-and-language">
    <button (click)="goToLoginPage()" class="login-btn">
      {{this.authService.loggedIn()?'Log Out':'Log In'}} &nbsp;<span class="login-icon"></span>
    </button>
    <!-- just add not'!' to the if below -->
    <button *ngIf="this.authService.loggedIn()" 
    class="join-now-btn">Join Now</button>
    <button #language class="languages" appLanguageDropdown>
      <span class="language-flag english" #languageToDisplay></span>
      <span class="language-dropdown-arrow"></span>
    </button>
    <div class="languages-dropdown-wrapper">
      <div class="languages-dropdown-container">
        <ul>
          <li>
            <a class="dropdown-link" (click)="handleFlagClick($event)">
              <span class="flag english"></span>English
            </a>
          </li>
          <li>
            <a class="dropdown-link" (click)="handleFlagClick($event)">
              <span class="flag turkish"></span>Turkish
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
