<h2 mat-dialog-title>Edit Master</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="editMasterForm">
    <div class="cs-modal-form-field-container">

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" required />
        <mat-error *ngIf="form.email.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="name"
          formControlName="name"
          required
        />
        <mat-error *ngIf="form.name.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone" formControlName="phoneNumber" required />
        <mat-error *ngIf="form.phoneNumber.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Commission (0-100)%</mat-label>
        <input
          matInput
          placeholder="Commission"
          formControlName="commission"
          required
          type="number"
          min="0"
          max="100"
        />
        <mat-error *ngIf="form.commission.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    color="primary"
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    [disabled]="!this.editMasterForm.valid"
    (click)="updateSuper()"
  >
    Edit
  </button>
</mat-dialog-actions>
