<h2 mat-dialog-title>Edit</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="editMasterForm">
    <div class="cs-modal-form-field-container">

      <mat-form-field appearance="fill">
        <mat-label><mat-icon>email</mat-icon> Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" required />
        <mat-error *ngIf="form.email.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label><mat-icon>person</mat-icon> Name</mat-label>
        <input
          matInput
          placeholder="name"
          formControlName="name"
          required
        />
        <mat-error *ngIf="form.name.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label><mat-icon>phone</mat-icon> Phone</mat-label>
        <input matInput placeholder="Phone" formControlName="phoneNumber" required />
        <mat-error *ngIf="form.phoneNumber.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="this.data.role !== 'Client'">
        <mat-label><mat-icon matTooltip="{{10-this.data.maxCommission}}% of the commission is taken by parents accounts">paid</mat-icon> Commission (0-{{this.data.maxCommission}})% </mat-label>
        <input
        matTooltip="{{10-this.data.maxCommission}}% of the commission is taken by parents accounts"
          matInput
          placeholder="Commission"
          formControlName="commission"
          required
          type="number"
          min="0"
          max="{{this.data.maxCommission}}"
        />
        <mat-error *ngIf="form.commission.invalid"
          >This field is required. (0 - {{this.data.maxCommission}})</mat-error
        >
      </mat-form-field>

      <!-- <mat-form-field appearance="fill" *ngIf="this.data.role !== 'SuperAdmin' && this.data.role !== 'Client'">
        <mat-label><mat-icon>warning</mat-icon> Risk (0-100)%</mat-label>
        <input
          matInput
          placeholder="risk"
          formControlName="risk"
          required
          type="number"
          min="0"
          max="100"
        />
        <mat-error *ngIf="form.risk.invalid"
          >This field is required. (0 - 100)%</mat-error
        >
      </mat-form-field> -->



      <mat-form-field appearance="fill" *ngIf="this.data.role === 'Admin' && false">
        <mat-label ><mat-icon>arrow_downward</mat-icon> Min Risk (0-100)%</mat-label>
        <input
          matInput
          placeholder="minRisk"
          formControlName="minRisk"
          required
          type="number"
          min="0"
          max="{{form.maxRisk.value}}"
        />
        <mat-error *ngIf="form.minRisk.invalid"
          >This field is required. (0 - 100)% < max risk</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="this.data.role === 'Admin' && false">
        <mat-label ><mat-icon>arrow_upward</mat-icon> Max Risk (0-100)%</mat-label>
        <input
          matInput
          placeholder="maxRisk"
          formControlName="maxRisk"
          required
          type="number"
          min="{{form.minRisk.value}}"
          max="100"
        />
        <mat-error *ngIf="form.maxRisk.invalid"
          >This field is required. (0 - 100)% > min risk</mat-error
        >
      </mat-form-field>
    


      <mat-form-field appearance="fill" *ngIf="this.data.role === 'Master' && false">
        <mat-label ><mat-icon>warning</mat-icon> Admin Risk (0-100)%</mat-label>
        <input
          matInput
          placeholder="adminRisk"
          formControlName="adminRisk"
          required
          type="number"
          min="0"
          max="100"
        />
        <mat-error *ngIf="form.adminRisk.invalid"
          >This field is required. (0 - 100)%</mat-error
        >
      </mat-form-field>
      
      <mat-form-field appearance="fill" *ngIf="this.data.role === 'Master'&& false">
        <mat-label ><mat-icon>warning</mat-icon> Master Risk (0-100)%</mat-label>
        <input
          matInput
          placeholder="masterRisk"
          formControlName="masterRisk"
          required
          type="number"
          min="0"
          max="100"
        />
        <mat-error *ngIf="form.masterRisk.invalid"
          >This field is required. (0 - 100)%</mat-error
        >
      </mat-form-field>












      <mat-form-field appearance="fill" *ngIf="this.data.role === 'SuperAdmin'">
        <mat-label><mat-icon>price_check</mat-icon> Profit Commission (0-25)%</mat-label>
        <input
          matInput
          placeholder="profitCommission"
          formControlName="profitCommission"
          required
          type="number"
          min="0"
          max="25"
        />
        <mat-error *ngIf="form.profitCommission.invalid"
          >This field is required. (0 - 25)%</mat-error
        >
      </mat-form-field>

    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    color="primary"
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    [disabled]="!this.editMasterForm.valid"
    (click)="updateSuper()"
  >
    Edit
  </button>
</mat-dialog-actions>
