<h2 mat-dialog-title>Edit</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="editMasterForm">
    <div class="cs-modal-form-field-container">

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" required />
        <mat-error *ngIf="form.email.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="name"
          formControlName="name"
          required
        />
        <mat-error *ngIf="form.name.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone" formControlName="phoneNumber" required />
        <mat-error *ngIf="form.phoneNumber.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="this.data.role !== 'Client'">
        <mat-label>Commission (0-{{this.data.maxCommission}})% </mat-label>
        <input
          matInput
          placeholder="Commission"
          formControlName="commission"
          required
          type="number"
          min="0"
          max="{{this.data.maxCommission}}"
        />
        <mat-error *ngIf="form.commission.invalid"
          >This field is required. (0 - {{this.data.maxCommission}})</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="this.data.role !== 'SuperAdmin'">
        <mat-label>Risk (0-100)%</mat-label>
        <input
          matInput
          placeholder="risk"
          formControlName="risk"
          required
          type="number"
          min="0"
          max="100"
        />
        <mat-error *ngIf="form.risk.invalid"
          >This field is required. (0 - 100)%</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="this.data.role === 'SuperAdmin'">
        <mat-label>Profit Commission (0-25)%</mat-label>
        <input
          matInput
          placeholder="profitCommission"
          formControlName="profitCommission"
          required
          type="number"
          min="0"
          max="25"
        />
        <mat-error *ngIf="form.profitCommission.invalid"
          >This field is required. (0 - 25)%</mat-error
        >
      </mat-form-field>

    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    color="primary"
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    [disabled]="!this.editMasterForm.valid"
    (click)="updateSuper()"
  >
    Edit
  </button>
</mat-dialog-actions>
