.conf-hh{
    list-style: none;
    width: 100%;
    /* height: 90px; */
    margin: 0;
    padding: 0;
    padding-top: 5px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 17px;
}

input { 
    margin: 0 10px;
    font-size: 20px; 
}

