<div class="cs-d-flex">
    <mat-form-field appearance="standard" class="cs-super-table-filter">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input />
    </mat-form-field>
  
    <button
      color="theme-primary"
      mat-raised-button
      class="cs-add-master-btn"
      (click)="openAddMasterDialog()"
    >
      Add Master
    </button>
  </div>
  
  <div class="mat-elevation-z2 cs-super-table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
        <td mat-cell *matCellDef="let row" class="cs-super-table-account-name">
          {{ row.id }}
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>


      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let row" class="cs-super-table-account-name">
          {{ row.userName }}
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Name
        </th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Email
        </th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
  
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Phone Number
        </th>
        <td mat-cell *matCellDef="let row">{{ row.phoneNumber }}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      
      <ng-container matColumnDef="risk">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Risk
        </th>
        <td mat-cell *matCellDef="let row">{{ this.sharedFunctions.formatNumber(row.risk, false)  }}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      
      <ng-container matColumnDef="commission">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Commission
        </th>
        <td mat-cell *matCellDef="let row">{{ this.sharedFunctions.formatNumber(row.commission*100)  }}%</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
  
      <ng-container matColumnDef="totalCommission">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Total commission
        </th>
        <td mat-cell *matCellDef="let row">{{ this.sharedFunctions.formatNumber((row.commission + row.parentCommission)*100)  }}%</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      
      <ng-container matColumnDef="wallet balance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Wallet Balance
        </th>
        <td mat-cell *matCellDef="let row">{{ this.sharedFunctions.formatNumber(row.wallet?.balance)  }}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      
      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Active
        </th>
            
            <td mat-cell *matCellDef="let row">
              <mat-icon *ngIf="!row.isActive" class="wrong-sign">dangerous</mat-icon>
              <mat-icon *ngIf="row.isActive" class="tick-sign">check_circle</mat-icon>  
            </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      
      <ng-container matColumnDef="isSuspended">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Suspended
        </th>
            
            <td mat-cell *matCellDef="let row">
              <mat-icon *ngIf="!row.isSuspended" class="wrong-sign">dangerous</mat-icon>
              <mat-icon *ngIf="row.isSuspended" class="tick-sign">check_circle</mat-icon>  
            </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      
      <!-- <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          role
        </th>
        <td mat-cell *matCellDef="let row">{{ row.role }}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container> -->
      
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Currency
        </th>
        <td mat-cell *matCellDef="let row">{{ row.wallet.currency }}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
  
  
  
  
      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Account</th>
        <td mat-cell *matCellDef="let row" class="cs-super-table-account-name">
          {{ row.userName }}
        </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>
  
      <ng-container matColumnDef="availableBalance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Available Balance
        </th>
        <td mat-cell *matCellDef="let row">{{ row.availableBalance }}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
  
      <ng-container matColumnDef="exposure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Exposure</th>
        <td mat-cell *matCellDef="let row">{{ row.exposure }}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
  
      <ng-container matColumnDef="subAccountBalance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Sub Account Balance
        </th>
        <td mat-cell *matCellDef="let row">{{ row.subAccountBalance }}</td>
        <td mat-footer-cell *matFooterCellDef>
          {{ getSubAccountBalance() }}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="subAccountBalanceWithExposure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Sub Account Balance With Exposure
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.subAccountBalanceWithExposure }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          {{ getSubAccountBalanceWithExposure() }}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="totalBalance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Balance</th>
        <td mat-cell *matCellDef="let row">{{ row.totalBalance }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ getTotalBalance() }}</td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td
          class="cs-super-status-cell"
          mat-cell
          *matCellDef="let row"
          [ngClass]="{
            'cs-super-inactive': row.status == 'inactive',
            'cs-super-active': row.status == 'active',
            'cs-super-suspended': row.status == 'suspended'
          }"
        >
          {{ row.status | titlecase }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>more_vert</mat-icon>
  
  
          </button>
  
           <!-- Master Actions -->
   
           <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openEditMasterDialog(row)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        
        <button mat-menu-item (click)="openRiskUpdateDialog(row)">
          <mat-icon>warning_amber</mat-icon>
          <!-- <i class="fas fa-skull-crossbones"></i> -->
          <span>Risk</span>
        </button>

        <button mat-menu-item (click)="openDepositMasterDialog(row)">
          <mat-icon>payment</mat-icon>
          <span>Deposit</span>
        </button>
        <button mat-menu-item (click)="openWithdrawMasterDialog(row)">
          <mat-icon>attach_money</mat-icon>
          <span>Withdraw</span>
        </button>
        <button mat-menu-item (click)="openChangePasswordDialog(row.id)">
          <mat-icon>lock</mat-icon>
          <span>Change Password</span>
        </button>
        <button mat-menu-item (click)="openActivationDialog(row)">
          <mat-icon>new_releases</mat-icon>
          <span *ngIf="!row.isActive">Activate</span>
          <span *ngIf="row.isActive">Deactivate</span>
        </button>

        <button mat-menu-item (click)="openConfirmDialog(row,4)">
          <mat-icon *ngIf="!row.isSuspended">block</mat-icon>
          <mat-icon *ngIf="row.isSuspended">accessibility_new</mat-icon>
          <span *ngIf="!row.isSuspended">Suspend</span>
          <span *ngIf="row.isSuspended">Unsuspend</span>
        </button>
       
        <!-- <button mat-menu-item>
          <mat-icon>close</mat-icon>
          <span>Close</span>
        </button> -->
            </mat-menu>
  
      <!-- Master Actions -->
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
     
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          (click)="openDetails(row.id)"
          *matRowDef="let row; columns: displayedColumns">
        </tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
  
    <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="this.sharedFunctions.pageSizeOptions"
    (page)="updatePage($event)"      
    aria-label="Select page of users"
    ></mat-paginator>
  </div>
  