<!-- <div class="scrollable-panel">
  <div class="sticky-container"> -->
<!-- Top Part -->
<div class="main-market">
  <div class="match-odds">
    <div class="match-odds-sticky-container">
      <div class="match-odds-sticky-header">
        <div class="header-container">
          <div class="header-wrapper">
            <h2 class="header-text">Match Odds</h2>
            <div class="header-content-container">
              <div class="header-content">
                <div class="header-main-section-wrapper">
                  <div class="header-main-section">
                    <div class="header-going-in-play">
                      <!-- An incon goes here -->
                      <span class="label">Going In-Play</span>
                    </div>

                    <div class="header-cash-out">
                      <!-- An incon goes here -->
                      <span class="label">Cash Out</span>
                    </div>

                    <div class="header-rules">
                      <a>
                        <!-- An incon goes here -->
                        <span class="label">Rules</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Top Part -->
<!-- </div>
</div> -->
