<!-- <div class="scrollable-panel">
  <div class="sticky-container"> -->
<!-- Top Part -->
<div class="main-market">
  <div class="match-odds">
    <div class="match-odds-sticky-container">
      <div class="match-odds-sticky-header">
        <div class="header-container">
          <div class="header-wrapper">
            <h2 class="header-text">{{ topMarket?.description.marketName }}</h2>
            <div class="header-content-container">
              <div class="header-content">
                <div class="header-main-section-wrapper">
                  <div class="header-main-section">
                    <div class="header-going-in-play">
                      <span class="label-icon"></span>
                      <span class="label">Going In-Play</span>
                    </div>

                    <div class="header-cash-out">
                      <span class="label-icon"></span>
                      <span class="label">Cash Out</span>
                    </div>

                    <div class="header-rules">
                      <a>
                        <span class="label-icon"></span>
                        <span class="label">Rules</span>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="header-secondary-section-wrapper">
                  <div class="header-total-matched-wrapper">
                    <div class="market-matched">
                      <span class="label">Matched:</span>
                      <span class="total-matched"
                        >GBP
                        {{
                          this.sharedService.formatNumber(
                            topMarket?.state.totalMatched
                          )
                        }}</span
                      >
                    </div>
                    <button
                      class="refresh-button"
                      (click)="this.refreshEvent()"
                    >
                      Refresh
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <table class="runners-header">
          <thead>
            <tr>
              <th class="runner-name">
                <span>{{ topMarket.runners.length }} selections</span>
              </th>
              <th class="percentage"><span>110%</span></th>
              <th class="back-all-btn">
                <button><span>Back all</span></button>
              </th>
              <th class="lay-all-btn">
                <button><span>Lay all</span></button>
              </th>
              <th class="percentage-2"><span>120%</span></th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="runners-list-wrapper">
        <div class="runner-list-component">
          <div class="runners-container">
            <div class="runners-list-container">
              <table class="runners-list">
                <tbody>
                  <tr
                    class="runner-line"
                    *ngFor="let item of topMarket.runners"
                  >
                    <!-- selection name -->
                    <td class="new-runner-info">
                      <div class="runner-info-container">
                        <div class="market-info-container">
                          <button class="market-graph"></button>
                        </div>

                        <div class="runner-info">
                          <div class="default-name">
                            <h3 class="runner-name">
                              {{ item.description.runnerName }}
                              {{
                                returnSecondPartRunName(
                                  item,
                                  topMarket?.description.marketName
                                )
                              }}
                            </h3>
                          </div>
                        </div>
                      </div>
                    </td>

                    <!-- selection odds to back -->
                    <td
                      class="header-bet-buttons"
                      *ngFor="let selection of [2, 1, 0]; let i = index"
                      (click)="
                        this.betSlipService.pushToSelectedBets(
                          event,
                          true,
                          topMarket,
                          item,
                          this.sharedService.returnRunWithIndex(item, selection)
                        )
                      "
                    >
                      <button
                        class="back-runner"
                        [ngClass]="{
                          blue: selection === 0,
                          selected: this.betSlipService.checkIfBetIsSelected(
                            event.event.eventId,
                            topMarket.marketId,
                            item.selectionId,
                            true,
                            item.description.runnerName +
                              ' ' +
                              returnSecondPartRunName(
                                item,
                                topMarket?.description.marketName
                              )
                          )
                        }"
                      >
                        <div class="bet-runner">
                          <span class="bet-btn-price">{{
                            this.sharedService.returnRunWithIndex(
                              item,
                              selection
                            ).price
                          }}</span>
                          <span class="bet-btn-size">{{
                            this.sharedService.returnRunWithIndex(
                              item,
                              selection
                            ).size
                          }}</span>
                        </div>
                      </button>
                    </td>

                    <!-- selection odds to Lay -->
                    <td
                      class="header-bet-buttons"
                      *ngFor="let selection of [0, 1, 2]; let i = index"
                      (click)="
                        this.betSlipService.pushToSelectedBets(
                          event,
                          false,
                          topMarket,
                          item,
                          this.sharedService.returnRunWithIndex(
                            item,
                            selection,
                            true
                          )
                        )
                      "
                    >
                      <button
                        class="back-runner"
                        [ngClass]="{
                          pink: selection === 0,
                          selected: this.betSlipService.checkIfBetIsSelected(
                            event.event.eventId,
                            topMarket.marketId,
                            item.selectionId,
                            false,
                            item.description.runnerName +
                              ' ' +
                              returnSecondPartRunName(
                                item,
                                topMarket?.description.marketName
                              )
                          )
                        }"
                      >
                        <div class="bet-runner">
                          <span class="bet-btn-price">{{
                            this.sharedService.returnRunWithIndex(
                              item,
                              selection,
                              true
                            ).price
                          }}</span>
                          <span class="bet-btn-size">{{
                            this.sharedService.returnRunWithIndex(
                              item,
                              selection,
                              true
                            ).size
                          }}</span>
                        </div>
                      </button>
                    </td>

                    <!-- <td class="header-bet-buttons">
                      <button class="back-runner pink">
                        <div class="bet-runner">
                          <span class="bet-btn-price">3.6</span>
                          <span class="bet-btn-size">$8500</span>
                        </div>
                      </button>
                    </td>
                    <td class="header-bet-buttons">
                      <button class="back-runner">
                        <div class="bet-runner">
                          <span class="bet-btn-price">3.666</span>
                          <span class="bet-btn-size">$8500</span>
                        </div>
                      </button>
                    </td>
                    <td class="header-bet-buttons">
                      <button class="back-runner">
                        <div class="bet-runner">
                          <span class="bet-btn-price">3.66666</span>
                          <span class="bet-btn-size">$8500</span>
                        </div>
                      </button>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end of top market -->

<div class="other-markets-container">
  <div class="other-markets-header">
    <span>Other Markets</span>
  </div>

  <div class="other-markets-tabs">
    <section class="mod-tabs">
      <ul class="tabs-container">
        <li
          [class]="item.class"
          *ngFor="let item of copyOfTabs"
          [ngClass]="{ active: item.active }"
          (click)="handleTabClick(item)"
        >
          <a class="tab-heading" *ngIf="!item.children"
            ><h4 class="tab-label">{{ item.name }}</h4></a
          >

          <div class="tab-heading" *ngIf="item.children">
            <div class="more-selection">
              <h4>{{ item.name }}</h4>
            </div>
            <i class="tab-icon fas fa-angle-down"></i>
          </div>
          <ul class="more-dropdown" *ngIf="item.children && item.active">
            <li
              class="more-tab-item"
              *ngFor="let child of item.children"
              (click)="handleChildClick(item, child); $event.stopPropagation()"
            >
              <a class="item-link"
                ><h4>{{ child.name }}</h4></a
              >
            </li>
          </ul>
        </li>
      </ul>

      <div class="other-markets-tab-content">
        <!-- left markets -->
        <div class="column-left">
          <div
            class="mini-market-container"
            *ngFor="let item of copyOfMarkets; let i = index"
          >
            <div class="mini-market-header-container" *ngIf="i % 2 == 0">
              <div class="mini-market-header">
                <div class="mini-market-header-section-wrapper">
                  <div class="mini-market-name">
                    <span>{{ item.description.marketName }}</span>
                  </div>
                  <div class="mini-market-buttons">
                    <div class="going-to-play"><span></span></div>
                    <div class="cashout"><span></span></div>
                    <span class="market-rules"
                      ><a>
                        <span class="icon"></span>
                        <span class="label">Rules</span></a
                      ></span
                    >
                  </div>
                </div>
              </div>

              <table class="mini-market-runners-header">
                <thead>
                  <tr>
                    <th class="mini-market-runner-name">
                      <span
                        >Matched: GBP
                        {{
                          this.sharedService.formatNumber(
                            item?.state.totalMatched
                          )
                        }}</span
                      >
                    </th>
                    <th class="mini-market-back"><span>Back</span></th>
                    <th class="mini-market-lay"><span>Lay</span></th>
                  </tr>
                </thead>
              </table>

              <div class="mini-market-runners-list">
                <div class="disabled-mini-market-runners-list" *ngIf="true">
                  <h1>Low Liquidity</h1>
                </div>
                <div class="mini-market-runners-list-container">
                  <div class="mini-market-runners">
                    <div class="mini-market-runners-wrapper">
                      <table class="runners-table">
                        <tbody>
                          <tr
                            class="runner-line"
                            *ngFor="let run of item.runners"
                          >
                            <td class="new-runner">
                              <div class="graph-container">
                                <button></button>
                              </div>
                              <div class="name-container">
                                <h3>
                                  {{ run.description.runnerName }}
                                  {{
                                    returnSecondPartRunName(
                                      run,
                                      item?.description.marketName
                                    )
                                  }}
                                </h3>
                              </div>
                            </td>

                            <!-- Back -->

                            <td
                              class="mini-market-back-runner"
                              (click)="
                                this.betSlipService.pushToSelectedBets(
                                  event,
                                  true,
                                  item,
                                  run,
                                  this.sharedService.returnHighestBet(
                                    this.sharedService.getBackObjForRun(run)
                                  )
                                )
                              "
                            >
                              <button
                                [ngClass]="{
                                  selected:
                                    this.betSlipService.checkIfBetIsSelected(
                                      event.event.eventId,
                                      item.marketId,
                                      run.selectionId,
                                      true,
                                      run.description.runnerName +
                                        ' ' +
                                        returnSecondPartRunName(
                                          run,
                                          item?.description.marketName
                                        )
                                    )
                                }"
                              >
                                <div>
                                  <span class="size">
                                    <!--  -->
                                    <ng-container
                                      *ngIf="
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getBackObjForRun(
                                            run
                                          )
                                        ) !== null
                                      "
                                    >
                                      {{
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getBackObjForRun(
                                            run
                                          )
                                        ).price
                                      }}
                                    </ng-container>

                                    <fa-icon
                                      *ngIf="
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getBackObjForRun(
                                            run
                                          )
                                        ) === null
                                      "
                                      [icon]="fontAwesomeIcons.lock"
                                    ></fa-icon>
                                    <!--  -->
                                  </span>
                                  <span class="amount">
                                    <!--  -->
                                    <ng-container
                                      *ngIf="
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getBackObjForRun(
                                            run
                                          )
                                        ) !== null
                                      "
                                    >
                                      {{
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getBackObjForRun(
                                            run
                                          )
                                        ).size
                                      }}
                                    </ng-container>

                                    <!-- <fa-icon
                                      *ngIf="
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getBackObjForRun(run)
                                        ) === null
                                      "
                                      [icon]="fontAwesomeIcons.lock"
                                    ></fa-icon> -->
                                    <!--  -->
                                  </span>
                                </div>
                              </button>
                            </td>

                            <!-- Lay -->
                            <td
                              class="mini-market-lay-runner"
                              (click)="
                                this.betSlipService.pushToSelectedBets(
                                  event,
                                  false,
                                  item,
                                  run,
                                  this.sharedService.returnHighestBet(
                                    this.sharedService.getLayObjForRun(run)
                                  )
                                )
                              "
                            >
                              <button
                                [ngClass]="{
                                  selected:
                                    this.betSlipService.checkIfBetIsSelected(
                                      event.event.eventId,
                                      item.marketId,
                                      run.selectionId,
                                      false,
                                      run.description.runnerName +
                                        ' ' +
                                        returnSecondPartRunName(
                                          run,
                                          item?.description.marketName
                                        )
                                    )
                                }"
                              >
                                <div>
                                  <span class="size">
                                    <!--  -->
                                    <ng-container
                                      *ngIf="
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getLayObjForRun(
                                            run
                                          )
                                        ) !== null
                                      "
                                    >
                                      {{
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getLayObjForRun(
                                            run
                                          )
                                        ).price
                                      }}
                                    </ng-container>

                                    <fa-icon
                                      *ngIf="
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getLayObjForRun(
                                            run
                                          )
                                        ) === null
                                      "
                                      [icon]="fontAwesomeIcons.lock"
                                    ></fa-icon>
                                    <!--  -->
                                  </span>
                                  <span class="amount">
                                    <!--  -->
                                    <ng-container
                                      *ngIf="
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getLayObjForRun(
                                            run
                                          )
                                        ) !== null
                                      "
                                    >
                                      {{
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getLayObjForRun(
                                            run
                                          )
                                        ).size
                                      }}
                                    </ng-container>

                                    <!-- <fa-icon
                                      *ngIf="
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getLayObjForRun(run)
                                        ) === null
                                      "
                                      [icon]="fontAwesomeIcons.lock"
                                    ></fa-icon> -->
                                    <!--  -->
                                  </span>
                                </div>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <a (click)="setMarketAsTop(item)" class="mini-market-full-link"
                ><span> View full market</span
                ><i class="icon fas fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>

        <!-- right markets -->
        <div class="column-right">
          <div
            class="mini-market-container"
            *ngFor="let item of copyOfMarkets; let i = index"
          >
            <div class="mini-market-header-container" *ngIf="i % 2 != 0">
              <div class="mini-market-header">
                <div class="mini-market-header-section-wrapper">
                  <div class="mini-market-name">
                    <span>{{ item.description.marketName }}</span>
                  </div>
                  <div class="mini-market-buttons">
                    <div class="going-to-play"><span></span></div>
                    <div class="cashout"><span></span></div>
                    <span class="market-rules"
                      ><a>
                        <span class="icon"></span>
                        <span class="label">Rules</span></a
                      ></span
                    >
                  </div>
                </div>
              </div>

              <table class="mini-market-runners-header">
                <thead>
                  <tr>
                    <th class="mini-market-runner-name">
                      <span
                        >Matched: GBP
                        {{
                          this.sharedService.formatNumber(
                            item?.state.totalMatched
                          )
                        }}</span
                      >
                    </th>
                    <th class="mini-market-back"><span>Back</span></th>
                    <th class="mini-market-lay"><span>Lay</span></th>
                  </tr>
                </thead>
              </table>

              <div class="mini-market-runners-list">
                <div class="disabled-mini-market-runners-list" *ngIf="true">
                  <h1>Low Liquidity</h1>
                </div>
                <div class="mini-market-runners-list-container">
                  <div class="mini-market-runners">
                    <div class="mini-market-runners-wrapper">
                      <table class="runners-table">
                        <tbody>
                          <tr
                            class="runner-line"
                            *ngFor="let run of item.runners"
                          >
                            <td class="new-runner">
                              <div class="graph-container">
                                <button></button>
                              </div>
                              <div class="name-container">
                                <h3>
                                  {{ run.description.runnerName }}
                                  {{
                                    returnSecondPartRunName(
                                      run,
                                      item?.description.marketName
                                    )
                                  }}
                                </h3>
                              </div>
                            </td>

                            <td
                              class="mini-market-back-runner"
                              (click)="
                                this.betSlipService.pushToSelectedBets(
                                  event,
                                  true,
                                  item,
                                  run,
                                  this.sharedService.returnHighestBet(
                                    this.sharedService.getBackObjForRun(run)
                                  )
                                )
                              "
                            >
                              <button
                                [ngClass]="{
                                  selected:
                                    this.betSlipService.checkIfBetIsSelected(
                                      event.event.eventId,
                                      item.marketId,
                                      run.selectionId,
                                      true,
                                      run.description.runnerName +
                                        ' ' +
                                        returnSecondPartRunName(
                                          run,
                                          item?.description.marketName
                                        )
                                    )
                                }"
                              >
                                <div>
                                  <span class="size">
                                    <!--  -->
                                    <ng-container
                                      *ngIf="
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getBackObjForRun(
                                            run
                                          )
                                        ) !== null
                                      "
                                    >
                                      {{
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getBackObjForRun(
                                            run
                                          )
                                        ).price
                                      }}
                                    </ng-container>

                                    <fa-icon
                                      *ngIf="
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getBackObjForRun(
                                            run
                                          )
                                        ) === null
                                      "
                                      [icon]="fontAwesomeIcons.lock"
                                    ></fa-icon>
                                    <!--  -->
                                  </span>
                                  <span class="amount">
                                    <!--  -->
                                    <ng-container
                                      *ngIf="
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getBackObjForRun(
                                            run
                                          )
                                        ) !== null
                                      "
                                    >
                                      {{
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getBackObjForRun(
                                            run
                                          )
                                        ).size
                                      }}
                                    </ng-container>

                                    <!-- <fa-icon
                                    *ngIf="
                                      this.sharedService.returnHighestBet(
                                        this.sharedService.getBackObjForRun(run)
                                      ) === null
                                    "
                                    [icon]="fontAwesomeIcons.lock"
                                  ></fa-icon> -->
                                    <!--  -->
                                  </span>
                                </div>
                              </button>
                            </td>

                            <td
                              class="mini-market-lay-runner"
                              (click)="
                                this.betSlipService.pushToSelectedBets(
                                  event,
                                  false,
                                  item,
                                  run,
                                  this.sharedService.returnHighestBet(
                                    this.sharedService.getLayObjForRun(run)
                                  )
                                )
                              "
                            >
                              <button
                                [ngClass]="{
                                  selected:
                                    this.betSlipService.checkIfBetIsSelected(
                                      event.event.eventId,
                                      item.marketId,
                                      run.selectionId,
                                      false,
                                      run.description.runnerName +
                                        ' ' +
                                        returnSecondPartRunName(
                                          run,
                                          item?.description.marketName
                                        )
                                    )
                                }"
                              >
                                <div>
                                  <span class="size">
                                    <!--  -->
                                    <ng-container
                                      *ngIf="
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getLayObjForRun(
                                            run
                                          )
                                        ) !== null
                                      "
                                    >
                                      {{
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getLayObjForRun(
                                            run
                                          )
                                        ).price
                                      }}
                                    </ng-container>

                                    <fa-icon
                                      *ngIf="
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getLayObjForRun(
                                            run
                                          )
                                        ) === null
                                      "
                                      [icon]="fontAwesomeIcons.lock"
                                    ></fa-icon>
                                    <!--  -->
                                  </span>
                                  <span class="amount">
                                    <!--  -->
                                    <ng-container
                                      *ngIf="
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getLayObjForRun(
                                            run
                                          )
                                        ) !== null
                                      "
                                    >
                                      {{
                                        this.sharedService.returnHighestBet(
                                          this.sharedService.getLayObjForRun(
                                            run
                                          )
                                        ).size
                                      }}
                                    </ng-container>

                                    <!-- <fa-icon
                                    *ngIf="
                                      this.sharedService.returnHighestBet(
                                        this.sharedService.getLayObjForRun(run)
                                      ) === null
                                    "
                                    [icon]="fontAwesomeIcons.lock"
                                  ></fa-icon> -->
                                    <!--  -->
                                  </span>
                                </div>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <a (click)="setMarketAsTop(item)" class="mini-market-full-link"
                ><span> View full market</span
                ><i class="icon fas fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- End of Top Part -->
<!-- </div>
</div> -->
