<div class="bet-header">Bet Slip</div>

<div #loaderWrapper>
  <div #loader></div>

  <div class="bet-view">
    <div class="bet-slip-tabs">
      <div
        class="singles active"
        value="singles"
        #singles
        (click)="handleTabClick($event)"
      >
        <h1>
          Singles
          <span *ngIf="this.betSlipService.selectedBets.length > 0">{{
            this.betSlipService.selectedBets.length
          }}</span>
        </h1>
      </div>
      <div
        class="open-bets"
        value="open-bets"
        #openBets
        (click)="handleTabClick($event); $event.stopPropagation()"
      >
        <h1>Open Bets</h1>
      </div>
    </div>

    <div class="bet-item-container" *ngIf="tabToDisplay == 'Singles'">
      <div *ngFor="let bet of this.betSlipService.selectedBets; let i = index">
        <div class="bet-item-header">{{ bet.eventName }}</div>
        <div
          class="bet-item"
          [ngClass]="{ back: bet.isBack, lay: !bet.isBack }"
        >
          <div class="bet-item-top-row">
            <div
              class="remove-bet-icon-wrapper"
              (click)="removeFromSelectedBets(i)"
            >
              <fa-icon
                [icon]="fontAwesomeIcons.exit"
                class="delete-icon"
              ></fa-icon>
            </div>

            <div class="bet-item-market-title">
              <h1>{{ bet.market.run.runnerName }}</h1>
              <h3>{{ bet.market.marketName }}</h3>
            </div>

            <div class="bet-item-inputs-container">
              <div class="bet-item-match-odd">
                <input [value]="bet.market.run.price" />
              </div>
              <div class="bet-item-match-stake">
                <input
                  type="number"
                  min="0.1"
                  [(ngModel)]="bet.stake"
                  (input)="setLiabilityForBet(bet)"
                  onkeyup="if(parseInt(this.value)>100000){ this.value =100000; return false; }"
                />
              </div>
              <div class="bet-item-profit">
                <span #betItemProfit>{{ bet.liability }}</span>
              </div>
            </div>
          </div>

          <div class="bet-item-bottom-row">
            <button
              class="bet-item-set-value"
              *ngFor="let stake of stakeOptions"
              (click)="setStakeForBet(bet, stake)"
            >
              {{ stake }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="
        this.tabToDisplay == 'Open' &&
        this.betSlipService.currentOpenBets.length > 0
      "
    >
      <mat-form-field appearance="legacy" class="open-bets-select">
        <!-- <mat-label>Favorite food</mat-label> -->
        <mat-select [(ngModel)]="selectedOpenBet" name="food">
          <mat-option
            *ngFor="let selectedBet of openBetsSelectOptions"
            [value]="selectedBet"
          >
            {{ selectedBet }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="unmatched-bets"><span>WAITING (UNMATCHED)</span></div>
      <div
        *ngFor="
          let openBet of this.betSlipService.currentOpenBets;
          let i = index
        "
      >
        <div class="open-bets-waiting-match back">
          <div class="top-row">
            <div class="remove-bet-btn">
              <fa-icon
                [icon]="fontAwesomeIcons.exit"
                class="delete-icon"
              ></fa-icon>
            </div>
            <div class="open-bets-title">
              <h1>Belgium vs Brazil</h1>
              <h2>Match Odds</h2>
            </div>
            <div class="open-bets-odds">
              <input type="number" value="2" />
              <span><p>2</p> </span>
              <span><p>25</p> </span>
            </div>
          </div>
          <div class="bottom-row">
            <h1>At In-Play</h1>
            <div class="cancel-checkbox">
              <input type="radio" id="cancel" name="cancel" />
              <label for="cancel">Cancel</label>
            </div>

            <div class="keep-checkbox">
              <input type="radio" id="keep" name="keep" />
              <label for="keep">Keep</label>
            </div>
          </div>
        </div>
      </div>

      <div class="matched-bets"><span>PLACED (MATCHED)</span></div>
      <div
        *ngFor="
          let openBet of this.betSlipService.currentOpenBets;
          let i = index
        "
      >
        <div class="open-bets-placed-match lay">
          <div class="matched-bet-title">
            <h1>Amro vs Ibrahim</h1>
            <h2>UFC</h2>
          </div>
          <div class="matched-bet-odds">
            <span><p>2</p></span>
            <span><p>2</p></span>
            <span><p>20</p></span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="this.tabToDisplay == 'Singles'">
      <div
        *ngIf="this.betSlipService.selectedBets.length < 1"
        class="no-selection"
      >
        <h1>No bets selected. Select some bets by clicking the odds.</h1>
      </div>
    </div>

    <div *ngIf="this.tabToDisplay == 'Open'">
      <div
        *ngIf="this.betSlipService.currentOpenBets.length < 1"
        class="no-selection"
      >
        <h1>You don't have any open bets.</h1>
      </div>
    </div>

    <div class="bet-slip-buttons" *ngIf="this.tabToDisplay == 'Singles'">
      <button
        class="reset-btn"
        (click)="resetBets()"
        [ngClass]="{ disabled: this.betSlipService.selectedBets.length < 1 }"
      >
        Reset
      </button>
      <div class="total-liability"><h1>Liability:&nbsp;{{1234}}</h1></div>
      <button
        class="submit-btn"
        (click)="submitBets()"
        [ngClass]="{ disabled: this.betSlipService.selectedBets.length < 1 }"
      >
        Submit
      </button>
    </div>


    <div class="bet-slip-buttons" *ngIf="this.tabToDisplay == 'Open'">
      <button
        class="reset-btn"
      >
        Cancel All Unmatched
      </button>
      <button
        class="submit-btn"
      >
        Update
      </button>
    </div>
  </div>
</div>
