<div class="bet-header">Bet Slip</div>

<div #loaderWrapper>
  <div #loader></div>

  <div class="bet-view">
    <div class="bet-slip-tabs">
      <div
        class="singles active"
        value="singles"
        #singles
        (click)="handleTabClick($event)"
      >
        <h1>
          Singles
          <span *ngIf="this.betSlipService.selectedBets.length > 0">{{
            this.betSlipService.selectedBets.length
          }}</span>
        </h1>
      </div>
      <div
        class="open-bets"
        value="open-bets"
        #openBets
        (click)="handleTabClick($event)"
      >
        <h1>Open Bets</h1>
      </div>
    </div>

    <div class="bet-item-container" *ngIf="tabToDisplay == 'Singles'">
      <div *ngFor="let bet of this.betSlipService.selectedBets; let i = index">
        <div class="bet-item-header">{{ bet.eventName }}</div>
        <div
          class="bet-item"
          [ngClass]="{ back: bet.isBack, lay: !bet.isBack }"
        >
          <div class="bet-item-top-row">
            <div
              class="remove-bet-icon-wrapper"
              (click)="removeFromSelectedBets(i)"
            >
              <fa-icon
                [icon]="fontAwesomeIcons.exit"
                class="delete-icon"
              ></fa-icon>
            </div>

            <div class="bet-item-market-title">
              <h1>{{ bet.market.run.runnerName }}</h1>
              <h3>{{ bet.market.marketName }}</h3>
            </div>

            <div class="bet-item-inputs-container">
              <div class="bet-item-match-odd">
                <input [value]="bet.market.run.price" />
              </div>
              <div class="bet-item-match-stake">
                <input
                  type="number"
                  min="0.1"
                  onkeyup="if(parseInt(this.value)>100000){ this.value =100000; return false; }"
                />
              </div>
              <div class="bet-item-profit">
                <span #betItemProfit>0.5</span>
              </div>
            </div>
          </div>

          <div class="bet-item-bottom-row">
            <button class="bet-item-set-value">10</button>
            <button class="bet-item-set-value">20</button>
            <button class="bet-item-set-value">50</button>
            <button class="bet-item-set-value">100</button>
            <button class="bet-item-set-value">200</button>
            <button class="bet-item-set-value">500</button>
          </div>
        </div>
      </div>
    </div>
    <!--
  <div class="lay-section">
    <div class="lay-header">
      <div class="inner-lay-header">
        <div class="lay-header-title">Back (Bet For)</div>
        <div class="lay-header-other">
          <div class="bet-odds">Odds</div>
          <div class="bet-stake">Stake</div>
          <div class="bet-profit">Profit</div>
        </div>
      </div>
    </div>
    <div class="lay-items">
      <div class="lay-item">
        <div class="icon-wrapper">
          <fa-icon
            [icon]="fontAwesomeIcons.exit"
            class="main-icon clickable"
          ></fa-icon>
        </div>
        <div class="bet-team-name">Bercelona</div>
        <div class="lay-items-other">
          <div class="bet-odds-input">
            <input type="text" name="odds" />
          </div>
          <div class="bet-stake-input">
            <input type="text" name="stake" />
          </div>
          <div class="bet-profit-output">0</div>
        </div>
      </div>
      <div class="back-item">
        <div class="icon-wrapper">
          <fa-icon
            [icon]="fontAwesomeIcons.exit"
            class="main-icon clickable"
          ></fa-icon>
        </div>
        <div class="bet-team-name">Bercelona</div>
        <div class="back-items-other">
          <div class="bet-odds-input">
            <input type="text" name="odds" />
          </div>
          <div class="bet-stake-input">
            <input type="text" name="stake" />
          </div>
          <div class="bet-profit-output">0</div>
        </div>
      </div>
      <div class="back-item">
        <div class="icon-wrapper">
          <fa-icon
            [icon]="fontAwesomeIcons.exit"
            class="main-icon clickable"
          ></fa-icon>
        </div>
        <div class="bet-team-name">Bercelona</div>
        <div class="back-items-other">
          <div class="bet-odds-input">
            <input type="text" name="odds" />
          </div>
          <div class="bet-stake-input">
            <input type="text" name="stake" />
          </div>
          <div class="bet-profit-output">0</div>
        </div>
      </div>
    </div>
  </div>
  <div class="back-section">
    <div class="back-header">
      <div class="inner-back-header">
        <div class="back-header-title">Back (Bet For)</div>
        <div class="back-header-other">
          <div class="bet-odds">Odds</div>
          <div class="bet-stake">Stake</div>
          <div class="bet-profit">Profit</div>
        </div>
      </div>
    </div>
    <div class="back-items">
      <div class="back-item">
        <div class="icon-wrapper">
          <fa-icon
            [icon]="fontAwesomeIcons.exit"
            class="main-icon clickable"
          ></fa-icon>
        </div>
        <div class="bet-team-name">Bercelona</div>
        <div class="back-items-other">
          <div class="bet-odds-input">
            <input type="text" name="odds" />
          </div>
          <div class="bet-stake-input">
            <input type="text" name="stake" />
          </div>
          <div class="bet-profit-output">0</div>
        </div>
      </div>
      <div class="back-item">
        <div class="icon-wrapper">
          <fa-icon
            [icon]="fontAwesomeIcons.exit"
            class="main-icon clickable"
          ></fa-icon>
        </div>
        <div class="bet-team-name">Bercelona</div>
        <div class="back-items-other">
          <div class="bet-odds-input">
            <input type="text" name="odds" />
          </div>
          <div class="bet-stake-input">
            <input type="text" name="stake" />
          </div>
          <div class="bet-profit-output">0</div>
        </div>
      </div>
      <div class="back-item">
        <div class="icon-wrapper">
          <fa-icon
            [icon]="fontAwesomeIcons.exit"
            class="main-icon clickable"
          ></fa-icon>
        </div>
        <div class="bet-team-name">Bercelona</div>
        <div class="back-items-other">
          <div class="bet-odds-input">
            <input type="text" name="odds" />
          </div>
          <div class="bet-stake-input">
            <input type="text" name="stake" />
          </div>
          <div class="bet-profit-output">0</div>
        </div>
      </div>
    </div>
  </div> -->

    <div *ngIf="this.tabToDisplay == 'Singles'">
      <div
        *ngIf="this.betSlipService.selectedBets.length < 1"
        class="no-selection"
      >
        <h1>No bets selected. Select some bets by clicking the odds.</h1>
      </div>
    </div>

    <div *ngIf="this.tabToDisplay == 'Open'">
      <div
        *ngIf="this.betSlipService.currentOpenBets.length < 1"
        class="no-selection"
      >
        <h1>You don't have any open bets.</h1>
      </div>
    </div>

    <div class="bet-slip-buttons" *ngIf="this.tabToDisplay == 'Singles'">
      <button
        class="reset-btn"
        (click)="resetBets()"
        [ngClass]="{ disabled: this.betSlipService.selectedBets.length < 1 }"
      >
        Reset
      </button>
      <button
        class="submit-btn"
        (click)="submitBets()"
        [ngClass]="{ disabled: this.betSlipService.selectedBets.length < 1 }"
      >
        Submit
      </button>
    </div>
  </div>
</div>
