<div class="bet-header">Bet Slip</div>
<div class="bet-view">
  <div class="bet-slip-tabs">
    <div
      class="singles active"
      value="singles"
      #singles
      (click)="handleTabClick($event)"
    >
      <h1>Singles</h1>
    </div>
    <div
      class="open-bets"
      value="open-bets"
      #openBets
      (click)="handleTabClick($event)"
    >
      <h1>Open Bets</h1>
    </div>
  </div>
  <!-- <div class="lay-section">
    <div class="lay-header">
      <div class="inner-lay-header">
        <div class="lay-header-title">Back (Bet For)</div>
        <div class="lay-header-other">
          <div class="bet-odds">Odds</div>
          <div class="bet-stake">Stake</div>
          <div class="bet-profit">Profit</div>
        </div>
      </div>
    </div>
    <div class="lay-items">
      <div class="lay-item">
        <div class="icon-wrapper">
          <fa-icon [icon]="fontAwesomeIcons.exit" class="main-icon clickable"></fa-icon>
        </div>
        <div class="bet-team-name">Bercelona</div>
        <div class="lay-items-other">
          <div class="bet-odds-input">
            <input type="text" name="odds" />
          </div>
          <div class="bet-stake-input">
            <input type="text" name="stake" />
          </div>
          <div class="bet-profit-output">0</div>
        </div>
      </div>
      <div class="back-item">
        <div class="icon-wrapper">
          <fa-icon [icon]="fontAwesomeIcons.exit" class="main-icon clickable"></fa-icon>
        </div>
        <div class="bet-team-name">Bercelona</div>
        <div class="back-items-other">
          <div class="bet-odds-input">
            <input type="text" name="odds" />
          </div>
          <div class="bet-stake-input">
            <input type="text" name="stake" />
          </div>
          <div class="bet-profit-output">0</div>
        </div>
      </div>
      <div class="back-item">
        <div class="icon-wrapper">
          <fa-icon [icon]="fontAwesomeIcons.exit" class="main-icon clickable"></fa-icon>
        </div>
        <div class="bet-team-name">Bercelona</div>
        <div class="back-items-other">
          <div class="bet-odds-input">
            <input type="text" name="odds" />
          </div>
          <div class="bet-stake-input">
            <input type="text" name="stake" />
          </div>
          <div class="bet-profit-output">0</div>
        </div>
      </div>
    </div>
  </div>
  <div class="back-section">
    <div class="back-header">
      <div class="inner-back-header">
        <div class="back-header-title">Back (Bet For)</div>
        <div class="back-header-other">
          <div class="bet-odds">Odds</div>
          <div class="bet-stake">Stake</div>
          <div class="bet-profit">Profit</div>
        </div>
      </div>
    </div>
    <div class="back-items">
      <div class="back-item">
        <div class="icon-wrapper">
          <fa-icon [icon]="fontAwesomeIcons.exit" class="main-icon clickable"></fa-icon>
        </div>
        <div class="bet-team-name">Bercelona</div>
        <div class="back-items-other">
          <div class="bet-odds-input">
            <input type="text" name="odds" />
          </div>
          <div class="bet-stake-input">
            <input type="text" name="stake" />
          </div>
          <div class="bet-profit-output">0</div>
        </div>
      </div>
      <div class="back-item">
        <div class="icon-wrapper">
          <fa-icon [icon]="fontAwesomeIcons.exit" class="main-icon clickable"></fa-icon>
        </div>
        <div class="bet-team-name">Bercelona</div>
        <div class="back-items-other">
          <div class="bet-odds-input">
            <input type="text" name="odds" />
          </div>
          <div class="bet-stake-input">
            <input type="text" name="stake" />
          </div>
          <div class="bet-profit-output">0</div>
        </div>
      </div>
      <div class="back-item">
        <div class="icon-wrapper">
          <fa-icon [icon]="fontAwesomeIcons.exit" class="main-icon clickable"></fa-icon>
        </div>
        <div class="bet-team-name">Bercelona</div>
        <div class="back-items-other">
          <div class="bet-odds-input">
            <input type="text" name="odds" />
          </div>
          <div class="bet-stake-input">
            <input type="text" name="stake" />
          </div>
          <div class="bet-profit-output">0</div>
        </div>
      </div>
    </div>
  </div> -->

  <div *ngIf="this.tabToDisplay == 'Singles'">
    <div *ngIf="selectedBets.length < 1" class="no-selection">
      <h1>No bets selected. Select some bets by clicking the odds.</h1>
    </div>
  </div>

  <div *ngIf="this.tabToDisplay == 'Open Bets'">
    <div *ngIf="currentOpenBets.length < 1" class="no-selection">
      <h1>You don't have any open bets.</h1>
    </div>
  </div>

  <div class="bet-slip-buttons" *ngIf="this.tabToDisplay == 'Singles'">
    <button
      class="reset-btn"
      (click)="resetBets()"
      [ngClass]="{ disabled: this.selectedBets.length < 1 }"
    >
      Reset
    </button>
    <button
      class="submit-btn"
      (click)="submitBets()"
      [ngClass]="{ disabled: this.selectedBets.length < 1 }"
    >
      Submit
    </button>
  </div>
</div>
