<button
  title="Menu"
  class="menu-open-btn"
  *ngIf="isSmall"
  (click)="toggleMenu(); $event.stopPropagation()"
  [ngClass]="{ active: this.displayMenu }"
>
  <i class="fas fa-arrow-alt-circle-down"></i>
</button>
<button
  title="Bet Slip"
  class="bet-slip-open-btn"
  *ngIf="isSmall"
  (click)="toggleBetSlip(); $event.stopPropagation()"
  [ngClass]="{ active: this.displayBetSlip }"
>
  <i class="fas fa-arrow-alt-circle-down"></i>
</button>

<div
  [ngClass]="{ container: !isSmall, smallContainer: isSmall }"
  id="inner-container"
>
  <app-menu
    class="menu"
    [ngClass]="{ small: isSmall }"
    [@fadeMenuAndSlip]
    appCloseAppMenu
    [displayMenu]="this.displayMenu"
    (closeMenu)="closeMenu()"
    *ngIf="(displayMenu && isSmall) || (!displayMenu && !isSmall)"
    [isLoading]="isLoading"
    [menuLoading]="this.menuLoading"
  >
  </app-menu>
  <div
    class="main"
    [ngClass]="{ menuActive: this.displayMenu || this.displayBetSlip }"
  >
    <div class="main-view">
      <app-pre-games *ngIf="viewType == 'pre' && !isLoading"></app-pre-games>
      <app-live-games *ngIf="viewType == 'live' && !isLoading"></app-live-games>
      <app-event-details
        *ngIf="viewType == 'details' && !isLoading"
      ></app-event-details>

      <app-loader *ngIf="isLoading"></app-loader>
    </div>
  </div>
  <app-bet-slip
    class="bets"
    appCloseBetSlip
    [displayBetSlip]="displayBetSlip"
    (closeBetSlip)="closeSlip()"
    [ngClass]="{ small: isSmall }"
    [@fadeMenuAndSlip]
    *ngIf="(displayBetSlip && isSmall) || (!displayMenu && !isSmall)"
  ></app-bet-slip>
</div>
