<div class="container" id="inner-container">
  <app-menu class="menu" [isLoading]="isLoading"> </app-menu>
  <div class="main">
    <div class="main-view">
      <app-pre-games
        *ngIf="viewType == 'pre'"
        [isLoading]="this.isLoading"
      ></app-pre-games>
      <app-live-games
        *ngIf="viewType == 'live'"
        [isLoading]="this.isLoading"
      ></app-live-games>
      <app-event-details
        *ngIf="viewType == 'details'"
        [isLoading]="this.isLoading"
      ></app-event-details>
    </div>
  </div>
  <app-bet-slip class="bets"></app-bet-slip>
</div>
