<div class="menu-view" [ngClass]="{ loading: menuLoading }">
  <div class="menu-header">Top Selections</div>
  <div class="menu-sub-header">Top Competitions</div>
  <div class="menu-item">Champions League</div>
  <div class="menu-item">Syrian League</div>
  <div class="menu-sub-header">Top Regions</div>
  <div class="menu-item-container" *ngFor="let header of menu">
    <div
      class="menu-item"
      (click)="handleMenuHeaderClick(header)"
      [ngClass]="{ active: header.active,loading: menuLoading }"
    >
      <i
        [ngClass]="{ active: header.active }"
        class="menu-item-icon"
        [class]="header.icon"
      ></i
      >{{ header.name }}
      <div class="arrow-area" [ngClass]="{ active: header.active }">
        <i class="item-arrow fas fa-chevron-down"></i>
      </div>
    </div>
    <div *ngFor="let child of header.children">
      <div
        class="menu-subItem"
        (click)="handleMenuItemClick(child)"
        [ngClass]="{ active: child.active }"
        *ngIf="header.active"
        [@fadeMenuDropdown]
      >
        <span class="menu-subItem-label" [ngClass]="{ active: child.active }">
          {{ child.name }}
          <div class="child-arrow-area" [ngClass]="{ active: child.active }">
            <i class="child-item-arrow fas fa-chevron-down"></i>
          </div>
        </span>
      </div>
      <div *ngFor="let grandChild of child.children">
        <div
          class="menu-grandChild"
          (click)="handleGrandChildClick(child, grandChild)"
          *ngIf="child.active && header.active"
          [@fadeMenuDropdown]
          [ngClass]="{ active: grandChild.active }"
        >
          <span class="menu-subItem-label">
            {{ grandChild.name }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
