<div class="menu-view">
  <div class="menu-header">Top Selections</div>
  <div class="menu-sub-header">Top Competitions</div>
  <div class="menu-item">Champions League</div>
  <div class="menu-item">Syrian League</div>
  <div class="menu-sub-header">Top Regions</div>
  <div class="menu-item">Aleppo</div>
  <div class="menu-item">Europe</div>
  <div class="menu-item">Famagusta</div>
  <div class="menu-item">Aleppo</div>
  <div class="menu-item">Europe</div>
  <div class="menu-item">Famagusta</div>
  <div class="menu-item">Aleppo</div>
  <div class="menu-item">Europe</div>
  <div class="menu-item">Famagusta</div>
  <div class="menu-item">Aleppo</div>
  <div class="menu-item">Europe</div>
  <div class="menu-item">Famagusta</div>
  <div class="menu-item">Aleppo</div>
  <div class="menu-item">Europe</div>
  <div class="menu-item">Famagusta</div>
  <div class="menu-item">Aleppo</div>
  <div class="menu-item">Europe</div>
  <div class="menu-item">Famagusta</div>
  <div class="menu-item">Aleppo</div>
  <div class="menu-item">Europe</div>
  <div class="menu-item">Famagusta</div>
  <div class="menu-item">Aleppo</div>
  <div class="menu-item">Europe</div>
  <div class="menu-item">Famagusta</div>

</div>
