<h2 mat-dialog-title>Add Super Admin</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="addMasterForm">
    <div class="cs-modal-form-field-container">
     

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Username"
          formControlName="username"
          required
        />
        <mat-error *ngIf="form.username.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>name</mat-label>
        <input
          matInput
          placeholder="name"
          formControlName="name"
          required
        />
        <mat-error *ngIf="form.name.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="E-mail" formControlName="email" required />
        <mat-error *ngIf="form.email.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone" formControlName="phoneNumber" required />
        <mat-error *ngIf="form.phoneNumber.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          required
          autocomplete="off"
        />
        <mat-error *ngIf="form.password.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <!-- <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          placeholder="Confirm Password"
          formControlName="confirmPassword"
          required
        />
        <mat-error *ngIf="form.confirmPassword.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field> -->

      

      <mat-form-field appearance="fill">
        <mat-label>Commission (0-100%)</mat-label>
        <input
          matInput
          placeholder="Commission"
          formControlName="commission"
          required
          type="number"
          min="0"
          max="100"
        />
        <mat-error *ngIf="form.commission.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="walletCurrency" required>
          <mat-option *ngFor="let item of this.sharedFunctions.currencyList" value="{{item}}">{{item}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.walletCurrency.invalid">This field is required.</mat-error>
      </mat-form-field>

     
      
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    color="primary"
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    [disabled]="!this.addMasterForm.valid"
    (click)="addSuper()"
  >
    Add
  </button>
</mat-dialog-actions>
