<div class="container" id="inner-container">
  <app-menu class="menu" ></app-menu>
  <div class="main">
    <div class="main-view">
      <div class="sports">
        <div class="sports-header">
          <div class="star-favourites"></div>
          <div class="event-header">
            <span class="title"
              ><span>AS Ain Mlila U21 v MC Alger U21</span></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-bet-slip class="bets"></app-bet-slip>
</div>
