<div class="container" *ngIf="router.url != '/(auth:login)'">
  <app-header
    class="main-header"
    [viewType]="this.viewType"
    [isLoading]="this.isLoading"
  ></app-header>
  <app-sub-header
    class="sub-header"
    [viewType]="this.viewType"
    [isLoading]="this.isLoading"
  ></app-sub-header>
  <app-main-content
    [viewType]="this.viewType"
    [isLoading]="this.isLoading"
    [menuLoading]="this.menuLoading"
  ></app-main-content>
  <!-- <router-outlet style="display: none"></router-outlet> -->
</div>

<router-outlet name="auth"></router-outlet>
