<p>expo-details works!</p>



<div *ngFor="let sel of selections">

    name: {{sel}}
    amount: {{getRunMoney(sel)}}
</div>



<table style="width: 60vw; height: 40vh;">
    <tr>
      <th>Selection</th>
      <th>Exposure</th>
      <th>Bets #</th>
      <th>Players #</th>
    </tr>
    <tr  *ngFor="let sel of selections">
      <td>{{sel}}</td>
      <td>{{getRunMoney(sel)}}</td>
      <td>{{getBetsNumForSelection(sel)}}</td>
      <td>{{getPlayerNumForSelection(sel)}}</td>
    </tr>
  </table>