
<div *ngFor="let sel of selections">

    name: {{sel}}
    <!-- amount: {{getRunMoney(sel)}} -->
</div>


<div  *ngFor="let market of checkedMarket">

  for market : {{market.name}}  - <span (click)="this.openBetInfo(market.name)"> [btn] show bets [btn] </span>

    <table style="width: 60vw;  overflow-y: scroll; max-height: 200px;">
        <tr>
          <th>Selection</th>
          <th>Exposure</th>
          <th>Bets #</th>
          <th>Players #</th>
        </tr>
        <tr  *ngFor="let sel of market.selections">
          <td>{{sel.name}}</td>
          <td>{{getRunMoney(market.name, sel.id, sel.name)}}</td>
          <td>{{getBetsNumForSelection(sel, market.name)}}</td>
          <td>{{getPlayerNumForSelection(sel, market.name)}}</td>
        </tr>
      </table>

</div>

