<h2 mat-dialog-title>Bet Details 
    
</h2>
<mat-dialog-content class="mat-typography">
    <div class="cs-modal-form-field-container">
     

        <div
        class="cs-summary-container"
      >
        <div>ID: &nbsp; <span> {{ data.id }} </span></div>
        <div>Username: &nbsp; <span> {{ data.userName }} </span></div>
        <div>Sport: &nbsp; <span> {{ this.sharedService.getSportNameById(data.selection.eventTypeId) }} </span></div>
        <div>Event Name: &nbsp; <span> {{ data.selection.eventName }} </span></div>
        <div>Market Name: &nbsp; <span> {{ data.selection.marketName }} </span></div>
        <div>Selection: &nbsp; <span> {{ data.selection.selectionName }} </span></div>
        <div>Bet Type: &nbsp; <span> {{ data.selection.betType }} </span></div>
        <div>Selection Type: &nbsp; <span> {{ data.selectionType }} </span></div>
        <div>Stake: &nbsp; <span> {{ this.sharedService.formatNumber(data.stake)  }} </span></div>
        <div>Odd: &nbsp; <span> {{ this.sharedService.formatNumber(data.odd)  }} </span></div>
        <div>Potential Payout: &nbsp; <span> {{ this.sharedService.formatNumber(data.payout)  }} </span></div>
        <div>Status: &nbsp; <span> {{ data.status }} </span></div>
        <div>Date: &nbsp; <span> {{ data.date| date:'d/M/yyyy, h:mm a' }} </span></div>
        <div>Last Action Date: &nbsp; <span> {{ data.lastActionDate| date:'d/M/yyyy, h:mm a' }} </span></div>
        <div>Event Date: &nbsp; <span> {{ data.selection.eventDate| date:'d/M/yyyy, h:mm a' }} </span></div>
        <div>Matched Date: &nbsp; <span> {{ data.matchedDate? (this.sharedService.getMatchedDate(data.matchedDate)| date:'d/M/yyyy, h:mm a'): ('Not Matched') }} </span></div>
        
        
      </div>

       
      
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>

  
</mat-dialog-actions>
