<h2 mat-dialog-title>Change Password Player</h2>
<mat-dialog-content class="mat-typography">
  <!-- <h3>Available Balance: {{data.balance}}</h3> -->
  <form [formGroup]="changePasswordForm">
    <div class="cs-modal-form-field-container">
      <mat-form-field appearance="fill">
        <mat-label>Old Password</mat-label>
        <input
          matInput
          placeholder="Old Password"
          formControlName="oldPassword"
          required
        />
        <mat-error *ngIf="form.oldPassword.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input
          matInput
          placeholder="New Password"
          formControlName="newPassword"
          required
        />
        <mat-error *ngIf="form.newPassword.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Confirm New Password</mat-label>
        <input
          matInput
          placeholder="Confirm New Password"
          formControlName="confirmNewPassword"
          required
        />
        <mat-error *ngIf="form.confirmNewPassword.invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>

    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    color="primary"
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    [disabled]="!this.changePasswordForm.valid"
  >
    Change Password
  </button>
</mat-dialog-actions>
